 
<div class="container" id="form_singup">
  
  <div class="row-fluid">
    <div class="col-sm-6" >
     	<h4>Accede como alumno</h4>
     	
     	<%= link_to "Aceptar" , new_student_session_path	, class: "btn btn-lg btn-primary" %> 
    </div>
    <div class="col-sm-6" >
     	<h4>Accede como profesor</h4>

     	   		<%= link_to "aceptar" , '#', class: "btn btn-lg btn-primary" %> 
 	 </div>
</div>
