<h1>Panel de administración</h1>
<div class="container-fluid">
  <div class="row" id="firsthome">
    <div class="col-md-4 col-sm-offset-4">
     <ul class="nav nav-pills nav-stacked">
	    <li class="active"> <%= link_to "Cursos", curses_path %></li>
     
	    <li><%= link_to "Eventos", course_events_path %></li>
	    <li><%= link_to "Aulas", classrooms_path %></li>
      <li><%= link_to "Empresas", companies_path %></li>
  	</ul>
    </div>
  </div>
</div>