<h1>Digital talent</h1>
<h3>Aprende, disfruta, haz</h3>
<div class="container-fluid">
  <div class="row" id="firsthome">
    <div class="col-md-5">
    	<img src="/assets/curso.jpg" class="img-responsive" alt="Imagen responsive">
    </div>

    <div class="col-md-7">
    	<h3>En digital think ofrecemos cursos relacionados con el desarrollo de aplicaciones web y marketing digital</h3>
    </div>
  </div>
</div>
