<div class="container" id="form_singup">
  
  <div class="row-fluid">
    <div class="col-sm-6" >
     	<h4>Registrate como Alumno</h4>
     	<p>Si quieres registarte como alumno y poder apuntarte a los cursos que te ofrecemos</p>
     	<%= link_to "Registrate", new_student_registration_path, class: "btn btn-lg btn-primary" %> 
    </div>
    <div class="col-sm-6" >
     	<h4>Registrate como Profesor</h4>
     	<p>Si quieres registarte como profesor y poder acceder a nuestros procesos de 
     		selección
     	</p>
   		
 	 </div>
</div>